<a href="https://colab.research.google.com/github/thallamsaithrishool/AIAC_1127/blob/main/AIAC_1127_LAB_3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def simple_calculator(num1, num2, operation):
    if operation == 'add':
        return num1 + num2
    elif operation == 'subtract':
        return num1 - num2
    elif operation == 'multiply':
        return num1 * num2
    elif operation == 'divide':
        if num2 == 0:
            return "Error: Cannot divide by zero."
        return num1 / num2
    else:
        return "Error: Invalid operation. Choose from 'add', 'subtract', 'multiply', 'divide'."

# Example usage:
print(f"3 + 5 = {simple_calculator(3, 5, 'add')}")
print(f"10 - 4 = {simple_calculator(10, 4, 'subtract')}")
print(f"6 * 7 = {simple_calculator(6, 7, 'multiply')}")
print(f"12 / 3 = {simple_calculator(12, 3, 'divide')}")
print(f"10 / 0 = {simple_calculator(10, 0, 'divide')}")
print(f"5 ^ 2 = {simple_calculator(5, 2, 'power')}")

3 + 5 = 8
10 - 4 = 6
6 * 7 = 42
12 / 3 = 4.0
10 / 0 = Error: Cannot divide by zero.
5 ^ 2 = Error: Invalid operation. Choose from 'add', 'subtract', 'multiply', 'divide'.

In [ ]:
def simple_calculator(num1, num2, operation):
    # Check the operation and perform the corresponding calculation
    if operation == 'add':
        # Perform addition
        return num1 + num2
    elif operation == 'subtract':
        # Perform subtraction
        return num1 - num2
    elif operation == 'multiply':
        # Perform multiplication
        return num1 * num2
    elif operation == 'divide':
        # Check for division by zero before performing division
        if num2 == 0:
            return "Error: Cannot divide by zero."
        # Perform division
        return num1 / num2
    else:
        # Handle invalid operation inputs
        return "Error: Invalid operation. Choose from 'add', 'subtract', 'multiply', 'divide'."

# Example usage of the simple_calculator function
print(f"3 + 5 = {simple_calculator(3, 5, 'add')}")
print(f"10 - 4 = {simple_calculator(10, 4, 'subtract')}")
print(f"6 * 7 = {simple_calculator(6, 7, 'multiply')}")
print(f"12 / 3 = {simple_calculator(12, 3, 'divide')}")
print(f"10 / 0 = {simple_calculator(10, 0, 'divide')}")
print(f"5 ^ 2 = {simple_calculator(5, 2, 'power')}")

3 + 5 = 8
10 - 4 = 6
6 * 7 = 42
12 / 3 = 4.0
10 / 0 = Error: Cannot divide by zero.
5 ^ 2 = Error: Invalid operation. Choose from 'add', 'subtract', 'multiply', 'divide'.

In [ ]:
def sort_student_marks(marks_list):
    # Create a copy of the list to avoid modifying the original list in-place
    sorted_marks = sorted(marks_list)
    return sorted_marks

# Example usage:
student_scores = [85, 92, 78, 65, 95, 88, 72]
print(f"Original marks: {student_scores}")
sorted_scores = sort_student_marks(student_scores)
print(f"Sorted marks (ascending): {sorted_scores}")

# Example with descending order (optional)
def sort_student_marks_descending(marks_list):
    # Sorts a list of student marks in descending order.
    return sorted(marks_list, reverse=True)

sorted_scores_desc = sort_student_marks_descending(student_scores)
print(f"Sorted marks (descending): {sorted_scores_desc}")

Original marks: [85, 92, 78, 65, 95, 88, 72]
Sorted marks (ascending): [65, 72, 78, 85, 88, 92, 95]
Sorted marks (descending): [95, 92, 88, 85, 78, 72, 65]

In [ ]:
def sort_student_marks_ascending(marks_list):
    # Use the sorted() function to sort the list in ascending order
    sorted_marks = sorted(marks_list)
    return sorted_marks

# Example usage:
student_scores = [85, 92, 78, 65, 95, 88, 72]
print(f"Original marks: {student_scores}")

# Call the function to sort the marks
ascending_sorted_scores = sort_student_marks_ascending(student_scores)
print(f"Sorted marks (ascending): {ascending_sorted_scores}")

Original marks: [85, 92, 78, 65, 95, 88, 72]
Sorted marks (ascending): [65, 72, 78, 85, 88, 92, 95]

In [ ]:
def process_student_marks(marks_list):
    # Remove duplicates by converting to a set and then back to a list
    unique_marks = list(set(marks_list))

    # Sort the unique marks in descending order
    sorted_unique_marks = sorted(unique_marks, reverse=True)

    return sorted_unique_marks

# Example usage:
student_scores_with_duplicates = [85, 92, 78, 65, 95, 88, 72, 92, 65, 100, 78]
print(f"Original marks (with duplicates): {student_scores_with_duplicates}")

processed_scores = process_student_marks(student_scores_with_duplicates)
print(f"Processed marks (unique, descending): {processed_scores}")

# Another example
another_marks = [50, 60, 50, 70, 80, 70, 90, 60]
print(f"\nAnother set of marks: {another_marks}")
processed_another_marks = process_student_marks(another_marks)
print(f"Processed another set of marks: {processed_another_marks}")

Original marks (with duplicates): [85, 92, 78, 65, 95, 88, 72, 92, 65, 100, 78]
Processed marks (unique, descending): [100, 95, 92, 88, 85, 78, 72, 65]

Another set of marks: [50, 60, 50, 70, 80, 70, 90, 60]
Processed another set of marks: [90, 80, 70, 60, 50]

In [ ]:
def process_student_marks(marks_list):
    # Remove duplicates by converting to a set and then back to a list
    unique_marks = list(set(marks_list))

    # Sort the unique marks in descending order
    sorted_unique_marks = sorted(unique_marks, reverse=True)

    return sorted_unique_marks

# Example usage:
student_scores_with_duplicates = [85, 92, 78, 65, 95, 88, 72, 92, 65, 100, 78]
print(f"Original marks (with duplicates): {student_scores_with_duplicates}")

processed_scores = process_student_marks(student_scores_with_duplicates)
print(f"Processed marks (unique, descending): {processed_scores}")

# Another example
another_marks = [50, 60, 50, 70, 80, 70, 90, 60]
print(f"\nAnother set of marks: {another_marks}")
processed_another_marks = process_student_marks(another_marks)
print(f"Processed another set of marks: {processed_another_marks}")

Original marks (with duplicates): [85, 92, 78, 65, 95, 88, 72, 92, 65, 100, 78]
Processed marks (unique, descending): [100, 95, 92, 88, 85, 78, 72, 65]

Another set of marks: [50, 60, 50, 70, 80, 70, 90, 60]
Processed another set of marks: [90, 80, 70, 60, 50]

In [ ]:
def convert_distance(value, unit_in, unit_out):
    # Conversion factors to meters (as a base unit)
    conversion_factors_to_meters = {
        'm': 1.0,         # meters
        'km': 1000.0,     # kilometers to meters
        'mi': 1609.34,    # miles to meters
        'ft': 0.3048      # feet to meters
    }
    # Convert input units to lowercase for case-insensitivity
    unit_in = unit_in.lower()
    unit_out = unit_out.lower()
    if unit_in not in conversion_factors_to_meters:
        return f"Error: Invalid input unit '{unit_in}'. Choose from {list(conversion_factors_to_meters.keys())}."
    if unit_out not in conversion_factors_to_meters:
        return f"Error: Invalid output unit '{unit_out}'. Choose from {list(conversion_factors_to_meters.keys())}."
    # Convert input value to meters first
    value_in_meters = value * conversion_factors_to_meters[unit_in]
    # Convert from meters to the desired output unit
    converted_value = value_in_meters / conversion_factors_to_meters[unit_out]
    return converted_value
# Example Usage:
print(f"10 kilometers to meters: {convert_distance(10, 'km', 'm')} m")
print(f"5 miles to kilometers: {convert_distance(5, 'mi', 'km')} km")
print(f"100 feet to meters: {convert_distance(100, 'ft', 'm')} m")
print(f"2000 meters to miles: {convert_distance(2000, 'm', 'mi')} mi")
print(f"100 meters to feet: {convert_distance(100, 'm', 'ft')} ft")
# Example of invalid unit
print(f"10 league to miles: {convert_distance(10, 'league', 'mi')}")
print(f"5 meters to yards: {convert_distance(5, 'm', 'yd')}")

10 kilometers to meters: 10000.0 m
5 miles to kilometers: 8.0467 km
100 feet to meters: 30.48 m
2000 meters to miles: 1.2427454732996135 mi
100 meters to feet: 328.0839895013123 ft
10 league to miles: Error: Invalid input unit 'league'. Choose from ['m', 'km', 'mi', 'ft'].
5 meters to yards: Error: Invalid output unit 'yd'. Choose from ['m', 'km', 'mi', 'ft'].

In [ ]:
print(f"10 kilometers to miles: {convert_distance(10, 'km', 'mi')} mi")
print(f"5 miles to kilometers: {convert_distance(5, 'mi', 'km')} km")

10 kilometers to miles: 6.213727366498068 mi
5 miles to kilometers: 8.0467 km